body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.addMovieBtn {
  position: relative;
  left: 45%;
  background: orangered;
  padding: 1em 2em;
  color: white;
  border: 0;
}

.addMovieBtn:hover {
  background: rgb(190, 22, 22);
}

.modalAll {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  text-align: center;
  background-color: lightgray;
  margin: 10% auto;
  width: 90%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 0.5s;
}
#addMovie-form {
  position: relative;
  right: 25%;
  color: rgb(55, 0, 255);
  padding: 40px;
}
.modal-header {
  background: orangered;
  text-align: left;
  color: white;
}
.modal-body {
  padding: 10px 20px;
}
.modal-footer {
  background: orangered;
  padding: 15px;
  color: white;
  text-align: center;
}
.closeBtn {
  color: rgb(15, 12, 12);
  font-size: 30px;
  float: right;
}
.closeBtn:hover,
.closeBtn:focus {
  color: rgb(246, 240, 151);
  text-decoration: none;
  cursor: pointer;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movie-info {
  position: relative;
}
.film-info {
  float: left;
  left: 70%;
  width: 60%;
  text-align: center;
}
