#add-movie {
  margin-right: 15px;
  position: absolute;
  top: 170px;
  right: 5px;
}

/* .wrappermodalFilm {
  display: none;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 115%;
  height: 100%;
  width: 60%;
  border-radius: 5%;
  background-color: rgba(45, 45, 45, 1);
  box-shadow: 0 5px 8px 0 rgba(221, 38, 38, 0.2),
    0 7px 20px 0 rgba(207, 37, 37, 0.17);
  animation-name: delayModal;
  animation-duration: 0.8s;
  text-align: center;
}

.modal-film-header {
  position: relative;
  height: 60px;
  background: rgb(22, 21, 21);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.closeFilmBtn {
  position: absolute;
  right: 2%;
  top: -30%;
  color: rgb(224, 230, 231);
  font-size: 30px;
  margin: 15px;
}

.closeFilmBtn:hover,
.closeFilmBtn:focus {
  color: rgb(226, 3, 3);
  text-decoration: none;
  cursor: pointer;
}

.modal-film-header h4 {
  position: absolute;
  color: #99b7c9;
  top: 30%;
  left: 3%;
}

.modal-film-footer {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 80%;
  background: rgb(22, 21, 21);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 15px;
}

.modal-film-footer h3 {
  color: #99b7c9;
}

.modal-film-body {
  position: relative;
  padding: 60px;
  height: 70%;
  width: 100%;
  text-align: left;
  overflow: scroll;
}
#addFilm-form {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}

.addFilmInfo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #61a6b3;
}

.filmInput {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

@keyframes delayModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

#addedNewMovie-alert {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 25%;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: lightskyblue;
  border-radius: 25px;
  color: #0f5561;
  background-color: #d1ecf1;
  margin-top: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem;
}
.displayNone {
  display: none;
}

.wrappermodalFilm {
  display: none;
  top: 50%;
  width: 100%;
}

#modalFilmContainer {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-fm {
}

.modal-content-fm {
  position: relative;
  display: flex;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  left: 20%;
  pointer-events: auto;
  background-color: #222;
  background-clip: padding-box;
  border: 1px solid white;
  border-radius: 0.3rem;
  outline: 0;
}

.modal-film-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  padding: 1rem 1rem;
  border-bottom: 1px solid #282828;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: #1b1b1b;
  -webkit-box-shadow: 0px 4px 7px -3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 4px 7px -3px rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 7px -3px rgba(255, 255, 255, 1);
}

.modal-film-header h3 {
  position: relative;
  left: 35%;
  font-size: 30px;
}

.closeFilmBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
}

.closeFilmBtn:hover {
  color: red;
  cursor: pointer;
}

.modal-film-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 500px;
  -webkit-box-shadow: 0px 4px 7px -3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 4px 7px -3px rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 7px -3px rgba(255, 255, 255, 1);
}

.modal-film-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-around;
  padding: 1rem;
  border-top: 1px solid #282828;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: #1b1b1b;
}

#discardFilmChanges {
  width: 130px;
}

.filmInput {
  width: 80%;
  display: flex;
  justify-content: space-around;
  height: calc(2em + 0.75rem + 2px);
  padding: 1.5rem;
  font-size: 0.875rem;
  font-weight: 550;
  line-height: 1;
  color: #282828;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  overflow: hidden;
}

label {
  margin-top: 1rem;
}

.modal-film-body::-webkit-scrollbar {
  width: 7px;
  background-color: #282828;
}
.modal-film-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.modal-film-body::-webkit-scrollbar-thumb {
  background: #eae4d3;
  border-radius: 5px;
}
.modal-film-body::-webkit-scrollbar-thumb:hover {
  background: #282828;
  cursor: pointer;
}
