#add-movie {
  margin-right: 15px;
  position: absolute;
  top: 170px;
  right: 5px;
}

.wrappermodalFilm {
  display: none;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 115%;
  height: 100%;
  width: 60%;
  border-radius: 5%;
  background-color: rgba(45, 45, 45, 1);
  box-shadow: 0 5px 8px 0 rgba(221, 38, 38, 0.2),
    0 7px 20px 0 rgba(207, 37, 37, 0.17);
  animation-name: delayModal;
  animation-duration: 0.8s;
  text-align: center;
}

.modal-film-header {
  position: relative;
  height: 60px;
  background: rgb(22, 21, 21);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.closeFilmBtn {
  position: absolute;
  right: 2%;
  top: -30%;
  color: rgb(224, 230, 231);
  font-size: 30px;
  margin: 15px;
}

.closeFilmBtn:hover,
.closeFilmBtn:focus {
  color: rgb(226, 3, 3);
  text-decoration: none;
  cursor: pointer;
}

.modal-film-header h4 {
  position: absolute;
  color: #99b7c9;
  top: 30%;
  left: 3%;
}

.modal-film-footer {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 80%;
  background: rgb(22, 21, 21);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 15px;
}

.modal-film-footer h3 {
  color: #99b7c9;
}

.modal-film-body {
  position: relative;
  padding: 60px;
  height: 70%;
  width: 100%;
  text-align: left;
  overflow: scroll;
}
#addFilm-form {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}

.addFilmInfo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #61a6b3;
}

.filmInput {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

@keyframes delayModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#addedNewMovie-alert {
  color: #6a0000;
  background-color: #f5cccc;
}

#addedNewMovie-alert {
  position: absolute;
  top: 5.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: lightskyblue;
  border-radius: 25px;
  color: #0f5561;
  background-color: #d1ecf1;
  margin-top: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem;
}
.displayNone {
  display: none;
}
