html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

section#timeline:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}

section#timeline article:after {
  content: "";
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303b;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 7px #25303b;
}

section#timeline article div.inner span.date:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(161, 158, 161, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(161, 158, 161, 1);
  box-shadow: 0px 0px 10px 0px rgba(161, 158, 161, 1);
}

section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
/* section#timeline article div.inner span.date span.day {
  font-size: 10px;
} */
section#timeline article div.inner span.date span.month {
  font-size: 14px;
}
section#timeline article div.inner span.date span.year {
  font-size: 16px;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: "";
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}
section#timeline article div.inner p {
  z-index: 10000;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background: whitesmoke;
  color: #656565;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section#timeline article:nth-child(2n + 1) div.inner div {
  float: right;
}

/* section#timeline article div.inner div {
  height: 510px;
} */

section#timeline article:nth-child(2n + 2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n + 2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
}

.showCreatorsBox {
  width: 130% !important;
  height: 600px !important;
  transition: width 1s;
  -webkit-transition: width 1s;
  overflow: visible;
}
.hideCreatorsBox {
  width: 0px !important;
  height: 400px !important;
  transition: width 1s;
  -webkit-transition: width 1s;
  overflow: hidden;
}

.resize {
  width: 200px;
  height: 200px;
  padding: 2px;
  margin: 2px;
  /* display: inline-flex; */
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  cursor: pointer;
  box-shadow: 1px 1px 5px 4px rgba(184, 177, 184, 1);
  transition: all 0.3s ease-out;
}

.resize:hover {
  transform: scale(0.9);
}

#picture-dialog-container img {
  width: 500px;
  height: 500px;
  max-width: 100%;
  min-width: 35%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  margin-right: 0 !important;
  display: block;
  border-radius: 25px;
}

#creators-container {
  margin: auto;
  width: auto !important;
  height: auto;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  min-width: 300px;
  max-width: 35% !important;
}

#creators-picture-modal {
  background-color: rgba(0, 0, 0, 0.9);
  animation-name: delayModal;
  animation-duration: 0.8s;
}

.stage-info {
  float: right;
}
