.detailsPlot{
    width: 300px;
    height: 200px;
    border: 1px solid red;
    position: absolute;
    display: flex;
justify-content: right;
display: block;
}

.detailsContainer {
    width: 100%;
    position: absolute;
    justify-content: flex-start;
}