#detailsButtons {
  margin: 30px auto 0px auto;
}

#detailsButtons {
  margin: 30px auto 0px auto;
}

.modal-content {
  height: 500px;
  overflow: scroll;
  position: relative;
  top: 80px;
  left: 10%;
}

::-webkit-scrollbar {
  display: none;
}

.modal {
  top: 50%;
}
#editPlot {
  height: calc((2em + 1.5rem) + 2px);
}
