
body{
    background-color: black;
}


.detailsContainer {
    margin: auto;
    width: 60%;
    height: 700px;
    top: 100px;
    position: relative;
    background-color:rgb(39, 39, 39);
    border: 2px solid  rgb(66, 66, 66);
    color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.detailsPlot{
    width: 80%;
    height: 60px;
    border: 1px solid red; 
}

.detailsPoster{
    margin: 1em;
    grid-column: 1/2;
    width: 400px;
    background-color: 	rgb(16,16,16);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

 img {
    border: 2px solid  rgb(66, 66, 66);
}

.detailsTitle{
    margin: 1em;
    grid-column: 2/6;
    grid-row: 1/6;
    width: 400px;
    height: 50px;
    border: 1px solid yellow;
    right: 200px;
    top: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.detailsInfo {
    border:1px solid blueviolet;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(66, 66, 66);
    grid-column: 2/6;
    grid-row: 1/6;
    margin: 5em 1em 1em 1em;
}  

.detailsButtons {
    width: 80%;
}