body {
  margin: 1px;
  background-color: rgb(27, 27, 27);
}

/* Navbar Start */

.navigation {
  width: 100%;
  min-height: 70px;
  background-color: rgb(24, 24, 24);
}
.navigation-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-menu {
  line-height: 50px;
  margin: 0px 5% 0px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-item {
  color: #fff;
  padding: 10px;
  list-style-type: none;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-item:hover {
  cursor: pointer;
  background-color: rgba(2, 216, 13, 0.8);
  border-radius: 5px;
  display: inline;
}
.logo-container {
  margin: 5px 0px 0px 5%;
  text-align: center;
}
.logo {
  color: #fff;
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  font-weight: 900;
  display: contents;
}
#userContainer {
  display: none;
  color: #fff;
  margin: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logout-button {
  display: none;
}

/* Navbar End */

/* Movie Container items start */
.movieList-container {
  margin: 20px auto;
  padding-top: 20px;
  width: 75%;
  background-color: rgba(51, 51, 51, 0.877);
  position: relative;
  border-radius: 5px;
  border-style: ridge;
  text-align: center;
}
.movieList-Title {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  border-width: thick;
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
  width: 200px;
}
.movieList {
  margin: 30px auto;
  width: 95%;
  min-height: 325px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  background-color: rgb(19, 19, 19);
  padding: 1.5%;
  position: relative;
  overflow-y: auto;
}
.movie-item {
  cursor: pointer;
  width: 200px;
  max-height: 280px;
  margin: 15px;
  position: relative;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 7px rgba(184, 177, 184, 1);
  transition: all 0.5s ease-out;
}
.movie-item:hover {
  transform: scale(1.1);
}
.movieItem-Title {
  font-family: sans-serif;
  font-weight: bold;
  padding: 2px;
  margin-top: 5px;
}
.film-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.film-info * {
  text-align: center;
}

.poster {
  width: 190px;
  height: 200px;
  border: 1px solid gray;
}
.placeholder {
  max-width: 190px;
  height: 200px;
  background-image: url("./photo/placeholder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  border-radius: 2px;
  border: 1px solid gray;
}
.page-counter {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}
.next-page,
.previous-page {
  margin-left: 10px;
  font-size: 20px !important;
}
.previous-page {
  margin-right: 10px;
}
.pageNumber {
  text-align: center;
  color: #fff;
  font-family: monospace;
}
/* Movie Container items end */

/* Search start */
#searchfield {
  margin: 10px;
  padding: 5px;
  width: 35%;
}

/* Search end */

/* Searchfield container */

/* Search start */
.searchfield-container {
  width: 55%;
  padding: 10px;
  border-radius: 4px;
  margin: 15px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}
#searchfield {
  margin: 10px;
  padding: 35px;
  width: 50%;
  min-width: 150px;
}

/* Search end */

#searchfield {
  border: 3px solid rgba(173, 173, 171, 0.877);
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgba(173, 173, 171, 0.877);
  margin: 0px;
}

#searchfield:focus {
  color: rgba(184, 177, 184, 1);
}

select {
  height: 30px;
  border: 3px solid rgba(173, 173, 171, 0.877);
  color: rgba(184, 177, 184, 1);
  font-weight: bold;
}

#search {
  width: 35px;
  height: 30px;
  border: 1px solid rgba(173, 173, 171, 0.877);
  background: rgba(173, 173, 171, 0.877);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* End of searchfield container */

.movieList::-webkit-scrollbar {
  display: none;
}
/* Footer */

.footer {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #0d0c0c;
}
.social-media-icons {
  padding: 10px 15% 10px 15%;
  text-align: center;
}

.social-media-icons img {
  width: 40px;
  padding: 0px 10px 0px 10px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 10px 15% 10px 15%;
  border-top: 1px solid rgb(50, 50, 50);
}
.footer-links a {
  padding: 10px 10px 0px 10px;
  text-decoration: none;
  color: rgb(217, 217, 217);
}
.drop-down-arrow {
  width: 15px;
  padding-left: 5px;
}
.footer-copyright {
  color: rgb(78, 78, 78);
  font-size: 14px;
  text-align: center;
  border-top: 1px solid rgb(50, 50, 50);
  padding: 25px;
}

/* ToolTip */
[tooltip] {
  position: relative;
}
[tooltip]::before {
  content: attr(tooltip-content);
  display: block;
  position: absolute;
  top: 50%;
  right: calc(100% + 16px);
  width: 110%;
  padding: 4px;
  text-align: center;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translate(20px, -50%);
  transition: all 0.3s ease-in-out 0.5s;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 7px 6px rgba(209, 204, 170, 0.49);
  -moz-box-shadow: 1px 1px 7px 6px rgba(209, 204, 170, 0.49);
  box-shadow: 1px 1px 7px 6px rgba(209, 204, 170, 0.49);
}
[tooltip]:hover::before {
  opacity: 1;
  transform: translate(0, -50%);
}

[tooltip-top]::before {
  top: initial;
  left: 50%;
  right: initial;
  bottom: calc(100% + 16px);
  transform: translate(-50%, 20px);
}
[tooltip-top]:hover::before {
  transform: translate(-50%, 0);
}
/* style burgerMenu and the list of items */

#burgerButton {
  position: absolute;
  top: 15px;
  right: 10px;
  padding-top: 30px;
  height: 40px;
  width: 40px;
  background-image: url("../assets/photo/hamburger-menu.jpg");
  background-size: cover;
}
#dropDownList {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background-color: none;
}

ul {
  padding: 0;
  margin-top: none;
}

#menuBurger-logout {
  display: none;
}

#menuBurger-login,
#menuBurger-register,
#menuBurger-home,
#menuBurger-howitwasmade,
#menuBurger-logout {
  background-color: black;
  text-align: center;
  list-style-type: none;
  padding: 15px;
  font-size: 15px;
  color: white;
  font-style: oblique;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #a69f88;
  padding: 40px 0;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(166, 159, 136, 1);
  -moz-box-shadow: 0px 6px 5px 0px rgba(166, 159, 136, 1);
  box-shadow: 0px 6px 5px 0px rgba(166, 159, 136, 1);
  opacity: 0.8;
}

#menuBurger-home:hover,
#menuBurger-login:hover,
#menuBurger-register:hover,
#menuBurger-logout:hover,
#menuBurger-howitwasmade:hover,
#burgerButton {
  color: #e8b44c;
  cursor: pointer;
}

@media screen and (min-width: 610px) {
  #wrap-burger-menu {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .navigation-menu {
    display: none;
  }
  .logo-container {
    margin-top: 20px;
  }
}
.showDropDownList {
  width: 50% !important;
  transition: width 1s;
  -webkit-transition: width 1s;
}
.hideDropDownList {
  width: 0px !important;
  transition: width 1s;
  -webkit-transition: width 1s;
}
/* end of styling burger menu */
