body {
  margin: 1px;
  background-color: rgb(192, 192, 192);
}

/* Navbar Start */

.navigation {
  width: 100%;
  min-height: 70px;
  background-color: rgb(24, 24, 24);
}
.navigation-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-menu {
  line-height: 50px;
  margin: 0px 5% 0px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-item {
  color: #fff;
  padding: 10px;
  list-style-type: none;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-item:hover {
  cursor: pointer;
  background-color: rgba(2, 216, 13, 0.8);
  border-radius: 5px;
  display: inline;
}
.logo {
  color: #fff;
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  font-weight: 900;
  margin: 0px 0px 0px 10%;
  text-align: center;
}

/* Navbar End */

/* Movie Container items start */
.movieList-container {
  margin: 20px auto;
  padding-top: 20px;
  width: 75%;
  background-color: rgba(173, 173, 171, 0.877);
  position: relative;
  border-radius: 5px;
  border-style: ridge;
  text-align: center;
}
.movieList-Title {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  border-width: thick;
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
  width: 200px;
}
.movieList {
  margin: 30px auto;
  width: 85%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: rgb(73, 73, 73);
  padding: 1.5%;
  position: relative;
  overflow: auto;
}
.movie-item {
  cursor: pointer;
  width: 200px;
  max-height: 280px;
  margin: 15px;
  position: relative;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 7px rgba(184, 177, 184, 1);
  transition: all 0.5s ease-out;
}
.movie-item:hover {
  transform: scale(1.1);
}
.movieItem-Title {
  font-family: sans-serif;
  font-weight: bold;
  padding: 1px;
}
.film-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.film-info * {
  text-align: center;
}
.filmInfo-Title {
  font-family: cursive;
}
.poster {
  width: 200px;
  height: 200px;
  bottom: 0;
}
.placeholder {
  width: 200px;
  height: 200px;
  background-image: url("placeholder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.movie-counter {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(27, 27, 27);
}
.next-page {
  position: absolute;
  right: calc(1% + 5px);
  top: calc(50% - 10px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(27, 27, 27);
  cursor: pointer;
}
.previous-page {
  position: absolute;
  left: calc(1% + 5px);
  top: calc(50% - 10px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(27, 27, 27);
  cursor: pointer;
}
.pageNumber {
  text-align: center;
  color: #fff;
  font-family: monospace;
}
/* Movie Container items end */

/* Search start */
.searchfield-container {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchfield {
  margin: 10px;
  padding: 5px;
  width: 35%;
}

/* Search end */


/*Footer*/

* {
  margin: 0;
  padding: 0;
}

body {
  box-shadow: 0px 0px 20px grey;
  max-width: 80%;
  margin:auto;
}

footer {
  font-family: "Times New Roman", Times, serif;
  border: none;
  background-color: #414040;
  height: 200px;
}

/*Section one / first column*/

sectionOne {
  color: white;
  width: 20%;
  float: left;
}

sectionOne p {
  padding: 20px 0px 2px 20px;
}

sectionOne p:hover {
  opacity: 0.5;
  color: rgb(226, 226, 71);
}

sectionOne p:last-child {
  padding: 60px 0px 0px 10px;
  font-size: 9px;
  color: rgb(179, 174, 174);
}

/*Section two / second column*/

sectionTwo {
  color: white;
  width: 20%;
  float: left;
}

sectionTwo p {
  padding: 20px 0px 2px 20px;
}

sectionTwo p:hover {
  opacity: 0.5;
  color: rgb(226, 226, 71);
}

/*Section three / third column*/

sectionThree {
  color: white;
  width: 25%;
  float: left;
}

.header {
  margin: 20px 20px 10px 20px;
  font-size: 21px;
}

.header:hover {
  opacity: 0.5;
  color: rgb(226, 226, 71);
}

sectionThree p {
  text-align: center;
}

sectionThree p:hover {
  opacity: 0.5;
  color: rgb(226, 226, 71);
}

.join {
  margin: 10px 0px 10px 35px;
  background-color:rgb(105, 105, 46);
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 200px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.join:hover {
  opacity: 0.5;
  color: rgb(197, 197, 180);
}


/*Section four / forth column*/

sectionFour {
  color: white;
  width: 35%;
  float: left;
}

sectionFour p:hover {
  opacity: 0.5;
  color: rgb(226, 226, 71);
}

sectionFour p {
  margin: 55px 0px 10px 60px;
  font-size: 21px;
}

.fa {
  margin: 10px 30px 0px 60px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.fa:hover {
  opacity: 0.5;
  color: rgb(226, 226, 71);
}

/*End of Footer*/